<div class="globalcont">
<div class="container">
<h1>Вход</h1>
 <form class="login-form" [formGroup]="form">
      <input class="form-control" placeholder="Логин" name="login" formControlName="login" />
        <div
          class="alert alert-danger"
          *ngIf="
            form.controls['login'].invalid && form.controls['login'].touched">
          Требуется логин
        </div>
        <input
        class="form-control"
          placeholder="Пароль"
          name="password"
          formControlName="password"
          type="password"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            form.controls['password'].invalid &&
            form.controls['password'].touched">
          Требуется пароль
        </div>
        <div *ngIf="errorchk"    class="alert alert-danger">
          Неверые данные
        </div>
       <button
          class="btn btn-default"
          (click)="logUser()"
          [disabled]="form.invalid"
        >
          Вход
       </button>
 </form>
</div>
</div>